#container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    margin: 5%;
    padding: 5%;
}

body {
    background-color: crimson;
    color: rgb(0, 0, 0);
}

#card1 {
    margin: 5%;
    padding: 5%;
}

#card2 {
    margin: 5%;
    padding: 5%;
}

#card3 {
    margin: 5%;
    padding: 5%;
}